#log-search {
    padding:10px;
    border:1px solid #CCC;
    position: fixed;
    top:10px;
    right: 10px;
}
select {
    color: #000;
}
h1 span {
    background: #FFF;
    padding: 7px;
    border-radius:10px;
}
